<div class="row">
  <div class="col" style="margin: 0;padding: 0;">
    <carousel [interval]="10000" [noPause]="true">
      <slide>
        <img src="/assets/images/main/1.jpg">
        <div class="carousel-caption d-none d-md-block">
          <div class="max-bold">Я начинаю с идеи,</div>
          <div class="max-bold"> и затем это становится кое-чем еще</div>
          <a (click)="this.onArrowClick()" class="direction">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
          </a>
        </div>
      </slide>
      <slide>
        <img src="/assets/images/main/2.jpg">
        <div class="carousel-caption d-none d-md-block">
          <div class="max-bold">Когда смотришь на небоскрёб,</div>
          <div class="max-bold">видишь не здание, а архитектора</div>
          <a (click)="this.onArrowClick()" class="direction">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
          </a>
        </div>
      </slide>
      <slide>
        <img src="/assets/images/main/3.jpg">
        <div class="carousel-caption d-none d-md-block">
          <div class="max-bold">Сикстинская мадонна выбирает,</div>
          <div class="max-bold">кому ей нравится, а кому нет</div>
          <a (click)="this.onArrowClick()" class="direction">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
          </a>
        </div>
      </slide>
    </carousel>

  </div>
</div>
