<div class="row">
  <div class="col" style="margin: 0;padding: 0;">
    <carousel [interval]="10000" [noPause]="true">
      <slide>
        <img src="/assets/images/main/1.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h2>Я начинаю с идеи,</h2>
          <h2> и затем это становится кое-чем еще</h2>
          <a (click)="this.onArrowClick()" class="direction">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
          </a>
        </div>
      </slide>
      <slide>
        <img src="/assets/images/main/2.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h2>Когда смотришь на небоскрёб,</h2>
          <h2>видишь не здание, а архитектора</h2>
          <a (click)="this.onArrowClick()" class="direction">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
          </a>
        </div>
      </slide>
      <slide>
        <img src="/assets/images/main/3.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h2>Сикстинская мадонна выбирает,</h2>
          <h2>кому ей нравится, а кому нет</h2>
          <a (click)="this.onArrowClick()" class="direction">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
          </a>
        </div>
      </slide>
    </carousel>

  </div>
</div>
