@import "~assets/styles/style-variables.scss";

.content {
  background-size: cover;
  width:250px;
  height: auto;
  min-height: 320px;
  text-align: center;
  margin: 20px 0;
  cursor: zoom-in;
  transform: translateZ(0px);
  z-index: 2;

  transition: transform 1s;
  transform-origin: 0 0;
  transition-timing-function: ease-in-out;

  &.active{
    cursor: zoom-out;
    transform: scale(1.75);
    position: relative;
    transform-origin: 0 0;
    transform-duration: 0.3s;
  }
  &.animating{
  }

  .bold{
    @include main-dark-font-bold;
    padding-top: 55%;
    margin: 0;
  }
  p{
    @include main-dark-font-bold;
  }
}
