  <div class="row">
    <div class="col">
      <h2>Наши преимущества</h2>
    </div>
  </div>

  <br/>
  <br/>

  <div class="container">
  <div class="row">

    <div class="col-md">

      <div class="row">
        <div class="col">
          <i class="fa fa-leaf"></i>
          <h4>
            Природные материалы
            <p>more info more info more info more info more info more info more info more info more info </p>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img src="../assets/images/handmade.svg"/>
          <h4>Ручная работа
            <p>more info more info more info more info more info more info more info more info more info </p></h4>
        </div>
      </div>

    </div>


    <div class="col-md">

      <div class="row">
        <div class="col">
          <img src="../assets/images/rocket1.png" />
          <h4>Работа любой сложности
            <p>more info more info more info more info more info more info more info more info more info </p></h4>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <i class="fa fa-thumbs-up fa-2x"></i>
          <h4>Современно и стильно
            <p>more info more info more info more info more info more info more info more info more info </p></h4>
        </div>
      </div>

    </div>

    <div class="col-md">

      <div class="row">
        <div class="col">
          <i class="fa fa-street-view fa-1x"></i>
          <h4>Индивидуальный подход
            <p>more info more info more info more info more info more info more info more info more info </p></h4>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img src="../assets/images/fire.jpg" />
          <h4>Высокая температура обжига
            <p>more info more info more info more info more info more info more info more info more info </p></h4>
        </div>
      </div>

    </div>


  </div>
  </div>
