  <div class="row">
    <div class="col">
      <div class="max-bold">Наши преимущества</div>
    </div>
  </div>

  <br/>
  <br/>

  <div class="container">
  <div class="row">

    <div class="col-md">

      <div class="row">
        <div class="col">
          <i class="fa fa-leaf"></i>
          <div class="bold">
            Природные материалы
            <p>В основе всех наших изделий лежат природные материалы: шамот, глина, каолин, песок, гипс, цемент, природные минеральные пигменты. </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <i class="fa fa-street-view fa-1x"></i>
          <div class="bold">Индивидуальный подход
            <p>Ваши идеи и желания – главный ориентир для нас. Мы с удовольствием поможем Вам грамотно подобрать цветовую гамму, найти необычные дизайнерские решения декора, и расставить правильные акценты с помощью декоративной керамики, гипса или цемента.</p>
          </div>
        </div>
      </div>

    </div>


    <div class="col-md">

      <div class="row">
        <div class="col">
          <img src="../assets/images/rocket2.png" />
          <div class="bold">Работа любой сложности
            <p>Приоритетным направлением деятельности является разработка дизайна, эстетических свойств, форм, эргономичности и безопасности декоративных изделий любой тематики и уровня сложности.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img src="../assets/images/handmade.svg"/>
          <div class="bold">Ручная работа
            <p>Обеспечиваем уникальность каждого изделия самого искушенного клиента.</p>
          </div>
        </div>

      </div>

    </div>

    <div class="col-md">

      <div class="row">
        <div class="col">
          <i class="fa fa-thumbs-up fa-2x"></i>
          <div class="bold">Современно и стильно
            <p>Использование современных методов и приемов при разработке дизайна и последующем воплощении идеи в керамику.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img src="../assets/images/fire.png" />
          <div class="bold">Высокая температура обжига
            <p>Обжигаются при температуре от 1000 до 1200С. Некоторые из них не глазуруются, а некоторые покрываются специальным покрытием – керамической глазурью, которое при высоких температурах превращается в стекло.</p>
          </div>
        </div>
      </div>

    </div>


  </div>
  </div>
