<div style="background-color: #d5f6ec;">
  <br/>
  <div class="row">
    <div class="col">
      <h2>Наши преимущества</h2>
    </div>
  </div>

  <br/>
  <br/>

  <div class="container">
  <div class="row" style="text-align: left;">

    <div class="col-md-4">

      <div class="row">
        <div class="col">
          <i class="fa fa-leaf"></i>
          <h4>
            Природные материалы
            <p>more info more info more info more info more info more info more info more info more info </p>
          </h4>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <i class="fa fa-leaf fa-1x"></i>
          <h4>Ручная работа
            <p>more info more info more info more info more info more info more info more info more info </p></h4>
        </div>
      </div>

    </div>


    <div class="col-md-4">

      <div class="row">
        <div class="col">
          <i class="fa fa-leaf fa-1x"></i>
          <h4>Работа любой сложности
            <p>more info more info more info more info more info more info more info more info more info </p></h4>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <i class="fa fa-leaf fa-1x"></i>
          <h4>Современно и стильно
            <p>more info more info more info more info more info more info more info more info more info </p></h4>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="row">
        <div class="col">
          <i class="fa fa-leaf fa-1x"></i>
          <h4>Индивидуальный подход
            <p>more info more info more info more info more info more info more info more info more info </p></h4>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <i class="fa fa-leaf fa-1x"></i>
          <h4>Высокая температура обжига
            <p>more info more info more info more info more info more info more info more info more info </p></h4>
        </div>
      </div>

    </div>


  </div>
  </div>
  <br/>
</div>
