@import "~assets/styles/style-variables.scss";

.rightRs,.leftRs {
  cursor: pointer;
  position: absolute;
  margin: auto;
  top: 30%;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  opacity: 0.8;
  border: 1px solid $main-light-color;
  background-color: $main-light-background-color;

  i{
    font-size:40px;
    color: $main-light-color;
  }
}

.rightRs{
  right: 10px;
}

.leftRs{
  left: 10px;
}

.item {
  height: 50vh;
  min-height: 80px;
  max-height: 220px;

  .content {
    background-size: cover;
    overflow: hidden;
    height: 40vh;
    min-height: 100px;
    max-height: 220px;
    border-radius: 5px;

    .bold{
      @include main-dark-font-bold;
      margin-top: 55%;
      margin-bottom: 0;
    }
    p{
      @include main-dark-font-bold;
    }
  }
}
