<ngx-carousel [inputs]="carouselConfig">
  <ngx-tile NgxCarouselItem *ngFor="let item of list" >
    <div class="content" [ngStyle]="{background: 'url('+item.imageUrl+') no-repeat center center', 'background-size': 'cover'}">
      <h4>{{item.name}}</h4>
      <p>{{item.price}} р</p>
    </div>
  </ngx-tile>

  <button NgxCarouselPrev class='leftRs'>
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </button>
  <button NgxCarouselNext class='rightRs'>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  </button>
</ngx-carousel>
