@import "~assets/styles/style-variables.scss";

div{
  text-align: center;
}

.background{
  background-color: #d5f6ec;opacity: 0.9;
}

carousel img{
  display: block; height: 90vh; width: 100%;
}

.carousel-caption {
  position: absolute;
  overflow-y: hidden;
  bottom: 50vh;
  left: 50%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
