@import "~assets/styles/style-variables.scss";

div{
  text-align: center;
}

.background{
  background-color: #d5f6ec;opacity: 0.9;
}

carousel .item img{
  display: block; height: 90vh; width: 100%;
  animation-name: img-animation;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes img-animation {
  from{
    width: 100%;
  }
  to{
    width: 108%;
  }
}



.item .carousel-caption {
  position: absolute;
  overflow: hidden;
  top: 15vh;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  left: 55%;
  width: 45%;
  bottom: 0;


  h1,h2,h3{
    text-align: left;
    opacity: 0;
    position: relative;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    text-shadow: 0px 0px 40px #fff;
  }
  h1:first-child,h2:first-child,h3:first-child{
    animation-name: text-animation1;
    animation-duration: 2s;
    animation-delay: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }


  h1:nth-child(2),h2:nth-child(2),h3:nth-child(2){
    animation-name: text-animation2;
    animation-duration: 2s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
}

@keyframes text-animation1 {
  from{
    left: 70%;
    opacity: 0.1;
  }
  30%{
    opacity: 0.6;
  }
  to{
    left: 0%;
    opacity: 1;

  }
}


@keyframes text-animation2 {
  from{
    top: 90%;
    opacity: 0;
  }
  30%{
    opacity: 0.2;
  }
  to{
    top: 0%;
    opacity: 1;
  }
}

.direction{
  position: absolute; bottom: 50px; color: white;
  left: 35%;
  cursor: pointer;
  text-shadow: 15px 12px 10px #222;
  i{
    color: white;
  }

  animation-name: jumping;
  animation-delay: 2s;
  animation-duration: 2.5s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

@keyframes jumping {
  from, 20% {
    transform: translate3d(0,0,0);

  }

  40%, 43% {
    transform: translate3d(0, -40px, 0) scale(1.4);
  }

  53%{
    transform: translate3d(0,0,0) scale(1.3,0.8);
  }

  70% {
    transform: translate3d(0, -15px, 0) scale(1.2);

  }

  80%{
    transform: translate3d(0,0,0) scale(1.2,0.92);
  }

  90% {
    transform: translate3d(0,-4px,0) scale(1.05);

  }
  to{
    transform: translate3d(0,0,0);
  }
}

h6{
  text-align: left;
}
