<div class="container-fluid">

  <app-main-panel></app-main-panel>

</div>


<div class="container-fluid">
  <br/>
  <br/>
  <br/>
  <br/>
  <app-advantages-panel></app-advantages-panel>
  <br/>
  <br/>
  <br/>
</div>

<br/>
<br/>
<br/>
<br/>

<div class="container ">
  <div class="row">
    <div class="col">
      <br/>
      <h2>Наши топовые товары</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <app-collapse-panel *ngFor="let groupItem of this.groupList" [item]="groupItem"></app-collapse-panel>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <br/>
      <h2>О нас</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h6>Наша компания «Bonn Ceramic» возникла из маленькой эксклюзивной семейной ремесленной мастерской, история, ценности и традиции керамического дела в которой, передавались от старшего поколения к младшему, где уважение и любовь к керамике зародились на мануфактурах немецкой майолики и фаянса, при создании посуды, кувшинов, печных изразцов в Нюрнберге. На протяжении десятков лет семейная мастерская выросла в массовое производство изделий ручной работы, со специалистами высокого уровня мастерства, которые по прежнему изучают историю, стили керамики, ценят и применяют древнейшие традиции ремесла.</h6>
      <h6>Мы сообщество керамистов, творческих и влюбленных в керамическое дело Мастеров, энтузиазм и трудолюбие которых стирают границы невозможного, и превращают глину и другие природные материалы в эксклюзивные изделия из благородного фарфора, утонченной керамики, надежного, устойчивого и долговечного шамот.</h6>
      <h6>Наша концепция – разработка и изготовление эксклюзивных (авторских) и универсальных (серийных) изделий из фарфора, майолики, шамотной, интерьерной и экстерьерной керамики, ландшафтной и садово-парковой керамики, архитектурных декоративных изделий из гипсовых и бетонных смесей.</h6>
      <h6>BONN CERAMIC – включает в себя современную дизайн студию, мастерскую керамики и фарфора, мастерскую изделий из гипса и бетона, а так же отдел по проектированию, монтажу наших изделий и конструкций.</h6>
      <h6>Мы разрабатываем и производим оригинальные изделия, которые:
        <ul>
          <li>при внутренней декоративной отделке помещений керамическими, гипсовыми или бетонными элементами ручной работы ежедневно будут доставлять Вам удовольствие;</li>
          <li>используются при архитектурном декорировании фасадов любой сложности;</li>
          <li>помогут придать Вашему названию компании, номеру дома, офиса, незабываемость и неповторимость – керамические номера и тексты ручной работы;</li>
          <li>служат неотъемлемыми акцентами в дизайне интерьера - горшки, вазоны, кашпо;</li>
          <li>помогут создать в Вашем окружении чувство причастности к чему-то большому, великому и вечному - микракерамические фонтаны для дома, офиса, пристенные (приставные) и каскадные фонтаны, водные стенки (напольные и настольные);</li>
          <li>создают в Вашей жизни тепло и уют – изразцы и элементы для печей, порталы и керамические декоры для каминов, мангалов, грилеей, барбекю, тандыров;</li>
          <li>становятся маленькими приятностями, незабываемыми подарками, представительскими коллекционными изделиями, тематическими и брендированные сувениры помогающими нашим клиентам продвигать свои бренды и продукты.</li>
        </ul>
      </h6>
      <br/>
    </div>
  </div>
</div>
