<div class="container-fluid">

  <div class="row">
    <div class="col" style="margin: 0;padding: 0;">
      <carousel [interval]="10000" [noPause]="true">
        <slide>
          <img src="http://proceramic.com.ua/images/s01.jpg?cachebusterTimestamp=1521550856274">
          <div class="carousel-caption d-none d-md-block">
            <h2>Я начинаю с идеи,</h2>
            <h2> и затем это становится кое-чем еще</h2>
            <a (click)="this.onArrowClick()" class="direction">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
            </a>
          </div>
        </slide>
        <slide>
          <img src="http://proceramic.com.ua/images/1.jpg?cachebusterTimestamp=1521550845357">
          <div class="carousel-caption d-none d-md-block">
            <h2>Когда смотришь на небоскрёб,</h2>
            <h2>видишь не здание, а архитектора</h2>
            <a (click)="this.onArrowClick()" class="direction">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
            </a>
          </div>
        </slide>
        <slide>
          <img src="http://proceramic.com.ua/images/2.jpg?cachebusterTimestamp=1521550870033">
          <div class="carousel-caption d-none d-md-block">
            <h2>Сикстинская мадонна выбирает,</h2>
            <h2>кому ей нравится, а кому нет</h2>
            <a (click)="this.onArrowClick()" class="direction">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
            </a>
          </div>
        </slide>
      </carousel>

    </div>
  </div>

</div>


<div class="container-fluid">
  <br/>
  <br/>
  <br/>
  <br/>
  <app-advantages-panel></app-advantages-panel>
  <br/>
  <br/>
  <br/>
</div>

<br/>
<br/>

<div class="container ">
  <div class="row">
    <div class="col">
      <br/>
      <h2>Наши топовые товары</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <app-collapse-panel *ngFor="let groupItem of this.groupList" [item]="groupItem"></app-collapse-panel>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <br/>
      <h2>О нас</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h6>Наша компания «Bonn Ceramic» возникла из маленькой эксклюзивной семейной ремесленной мастерской, история, ценности и традиции керамического дела в которой, передавались от старшего поколения к младшему, где уважение и любовь к керамике зародились на мануфактурах немецкой майолики и фаянса, при создании посуды, кувшинов, печных изразцов в Нюрнберге. На протяжении десятков лет семейная мастерская выросла в массовое производство изделий ручной работы, со специалистами высокого уровня мастерства, которые по прежнему изучают историю, стили керамики, ценят и применяют древнейшие традиции ремесла.</h6>
      <h6>Мы сообщество керамистов, творческих и влюбленных в керамическое дело Мастеров, энтузиазм и трудолюбие которых стирают границы невозможного, и превращают глину и другие природные материалы в эксклюзивные изделия из благородного фарфора, утонченной керамики, надежного, устойчивого и долговечного шамот.</h6>
      <h6>Наша концепция – разработка и изготовление эксклюзивных (авторских) и универсальных (серийных) изделий из фарфора, майолики, шамотной, интерьерной и экстерьерной керамики, ландшафтной и садово-парковой керамики, архитектурных декоративных изделий из гипсовых и бетонных смесей.</h6>
      <br/>
    </div>
  </div>
</div>
