@import "~assets/styles/style-variables.scss";

.collapse-container {

  border: 2px solid $main-color;
  margin-bottom: 25px;

  .collapse-content {
    padding-top: 15px;
    transition: all .6s ease-in;
  }

  .collapse-header {
    width: 100%;
    height: 49px;
    display: flex;
    position: relative;

    .collapse-text {
      width: 90%;
      padding: 3px 0 0 0;
      font-size: 26px;
    }&:hover {
      cursor: pointer;
    }

    .collapse-text.active{
      color: $main-light-color;
    }

    .collapse-control {
      font-size: 30px;
      width: 40px;
      text-align: center;
      color: $main-light-color;
      padding-left: 5px;
      i {
        transition: all .6s ease-out;
        font-size: 25px;

        &.active {
          transform: rotate(135deg);
          margin-top: 5px;
          color: $main-light-color;
        }
      }
    }

    &.active{
      border-bottom: none;
    }
  }

  .collapse-content{
    overflow: hidden;
    display: block;
    height: 0;
    margin: 0;
    padding: 0;

    transition: height .6s ease-in-out;

    &.active{
      border-top: none;
      height: 270px;
    }
  }
}

.link{
  font-size: 17px;
  position: absolute;
  right: 18px;
  top: 3px;
  color: #afafaf;
  line-height: 40px;

  @media only screen and (max-width : 800px) {
    display: none;
  }
}


