<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{this.productItem.name}}</h2>
    </div>
  </div>

  <div class="row">

    <div *ngFor="let item of this.productItem.productList; let i = index">
      <div class="col-md-4" >
        <div class="content" [ngStyle]="{background: 'url('+item.imageUrl+') no-repeat center center', 'background-size': 'cover'}">
          <h4>{{item.name}}</h4>
          <p>{{item.price}} р</p>
        </div>
      </div>
    </div>

  </div>

</div>
