@import "~assets/styles/style-variables.scss";

.content {
  background-size: cover;
  width:250px;
  height: 220px;
  text-align: center;
  margin: 20px 0;

  h4{
    @include main-dark-font-bold;
    padding-top: 55%;
    margin: 0;
  }
  p{
    @include main-dark-font-bold;
  }
}
