@import "~assets/styles/style-variables.scss";

.row{
  text-align: center;
  flex-wrap: inherit;
  font-size:20px;

  span{
    margin: 10px;
  }
}

i{
  color: $main-light-color;
}

h4{
  margin: 20px;
  color: #888;
}

.left-border{
  border-left: 2px solid #bbb;
}
