<div class="container">

  <br/>
  <br/>
  <br/>

  <div class="row">
    <div class="col">
      <br/>
      <h2>Контакты</h2>
    </div>
  </div>

  <div class="row contacts">
    <div class="col">
      <div class="row justify-content-center">
        <div class="bold">ЧПУП Bonn Ceramic</div>
      </div>

      <div class="row">
        <div class="col-md-4">

          <div class="row justify-content-center">
            <i class="fas fa-map-marker-alt fa-2x"></i>
          </div>
          <div class="row justify-content-center">
            <h4>Адрес</h4>
          </div>
          <div class="row justify-content-center">
            <address>
              Беларусь, город Минск
            </address>
          </div>

        </div>
        <div class="col-md-4  left-border">
          <a href="tel:+375-29-701-97-58">
          <div class="row justify-content-center">
            <i class="fa fa-phone fa-2x"></i>
          </div>
          <div class="row justify-content-center">
            <h4>Телефон</h4>
          </div>

            <div>
                +375-29-701-97-58
            </div>
            <div>
              <a href="tel:+375-44-783-19-54">
                +375-44-783-19-54
              </a>
            </div>
          </a>
        </div>
        <div class="col-md-4 left-border">
          <a href="mailto:bonn.ceramic@mail.ru">
          <div class="row justify-content-center">
            <i class="fa fa-envelope fa-2x"></i>
          </div>
          <div class="row justify-content-center">
            <h4>Email</h4>
          </div>
          <div>
              bonn.ceramic@mail.ru
          </div>
          </a>
      </div>


    </div>
  </div>

</div>
