
<header>
    <div class="header-logo">
        <a routerLink="/">
            <img src="../assets/images/logo.png"/>
        </a>
    </div>

    <div class="container-fluid" style="padding-left: 25vw;">

      <div class="row">
        <div class="col">
          <div class="contacts">
            <div class="contact-info">
              <a href="tel:+375-44-459-82-80">
                <i class="fa fa-phone"></i>
                +375-44-459-82-80
              </a>
              <a href="mailto:pavel_pontus@tut.by">
                <i class="far fa-envelope"></i>
                pavel_pontus@tut.by
              </a>
              <a href="skype:rhfgbdf33?chat">
                <i class="fab fa-skype"></i>
                rhfgbdf33
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <nav id="nav-menu-container">
            <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
              <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Главная</a></li>
              <li *ngFor="let link of navigationLinkList">
                <a routerLink="{{link.value}}" routerLinkActive="active">{{link.key}}</a>
              </li>
              <li><a routerLink="/about-us">О нас</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
</header>

<div class="main">
  <div class="main-overlay">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="container-fluid">
  © 2018 Pavel Pontus
  <span>pavel_pontus@tut.by</span>
</footer>
