
<header class="">

  <div class="container-fluid">

    <div class="row" style="width: 100%">

      <div class="col-md-3">

        <div class="row header-logo navbar-brand">

          <a routerLink="/">
            <img src="../assets/images/logo.jpg"/>
          </a>

        </div>

      </div>

      <div class="col-md-9">

        <div class="row contact-info">

          <div class="col offset-lg-4">
            <a href="tel:+375-29-701-97-58">
              <i class="light fas fa-phone"></i>
              +375-29-701-97-58
            </a>
          </div>

          <div class="col">
            <a href="tel:+375-44-783-19-54">
              <i class="light fa fa-phone delimeter"></i>
              +375-44-783-19-54
            </a>
          </div>

          <div class="col">
            <a href="mailto:bonn.ceramic@mail.ru">
              <i class="light far fa-envelope delimeter"></i>
              bonn.ceramic@mail.ru
            </a>

            <a class="menu-button" (click)="this.onMenuButtonClick();">
              <i class="fas fa-list-ul"></i>
            </a>
          </div>

        </div>

        <div class="row" *ngIf="this.auth.isAuthenticated">
          <div class="col  offset-5">
            <a routerLink="/admin">
              <i class="fas fa-user delimeter"></i>
              admin
            </a>
          </div>

          <div class="col">
            <a (click)="this.onLogOutClick()">
              <i class="fas fa-sign-out-alt delimeter"></i>
              выход
            </a>
          </div>
        </div>

        <div class="row">
          <nav class="col navbar navbar-expand-lg navbar-light">
              <ul class="navbar-nav mr-auto navbar-right justify-content-end collapse navbar-collapse " style="touch-action: pan-y;">
                <li><a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Главная</a></li>
                <li *ngFor="let link of navigationLinkList">
                  <a class="nav-item nav-link" routerLink="{{link.value}}" routerLinkActive="active">{{link.key}}</a>
                </li>
                <li><a class="nav-item nav-link" routerLink="/contacts"  routerLinkActive="active">Контакты</a></li>
              </ul>
          </nav>
        </div>



      </div>

    </div>

  </div>

</header>

<div class="main">
  <div class="main-overlay">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="container-fluid">
  © 2018 Pavel Pontus
  <span>pavel_pontus@tut.by</span>
</footer>
