@import "~assets/styles/style-variables.scss";

header{
    position: fixed;

  @media only screen and (max-width : 1000px) {
    position: relative;
  }
    top: 0;
    width: 100%;
    min-height: 85px;
    z-index: 3;
    outline: 1px solid #eee;
    background-color: white;
    box-shadow: 0px 7px 7px 5px rgba(0, 0, 0, 0.1);

    .header-logo{
        padding-left: 11px;
        img {
          height: 80px;
          width: 320px;
        }
    }

  .contact-info{
    .col{
      border-bottom: 1px solid #eee;
      text-align: right;
      margin-top: 5px;
      padding-bottom: 5px;

      a{
        white-space: nowrap;
      }

      i{
        color: $main-light-color;
        padding: 4px 4px 2px 4px;
      }
    }
  }


    .navbar-nav{
      a{
        white-space: nowrap;
        height: 38px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 14px;
        outline: none;
        color:$main-color;

        &.active{
          border-bottom: 3px solid $main-light-color;
          color: $main-light-color;
        }
      }
    }
}


.main{
  margin: 85px 0 0 0;
  background-image: url(http://proceramic.com.ua/images/2017/06/01/04.jpg);
  background-size: cover;
  background-attachment: fixed;

  .main-overlay{
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 82vh;
  }
}

footer{
  border-top: 1px solid #ddd; text-align: center;padding: 10px;font-size: 14px;
  background-color: #333;
  color: #bbb;

  span{
    color: #888;
  }
}

a{
  cursor: pointer;
}

