
<header>
    <div class="header-logo">
        <a routerLink="/">
            <img src="../assets/images/logo.png"/>
        </a>
    </div>

    <div class="container-fluid" style="padding-left: 25vw;">

      <div class="row">
        <div class="col">
          <div class="contacts">
            <div class="contact-info">
              <a href="tel:+375-29-701-97-58">
                <i class="fas fa-phone"></i>
                +375-29-701-97-58
              </a>
              <a href="tel:+375-44-783-19-54">
                <i class="fa fa-phone delimeter"></i>
                +375-44-783-19-54
              </a>
              <a href="mailto:bonn.ceramic@mail.ru">
                <i class="far fa-envelope delimeter"></i>
                bonn.ceramic@mail.ru
              </a>
              <a routerLink="/admin" *ngIf="this.auth.isAuthenticated">
                <i class="fas fa-user delimeter"></i>
                admin
              </a>
              <a (click)="this.onLogOutClick()" *ngIf="this.auth.isAuthenticated">
                <i class="fas fa-sign-out-alt delimeter"></i>
                выход
              </a>

            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <nav id="nav-menu-container">
            <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
              <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Главная</a></li>
              <li *ngFor="let link of navigationLinkList">
                <a routerLink="{{link.value}}" routerLinkActive="active">{{link.key}}</a>
              </li>
              <li><a routerLink="/about-us">О нас</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
</header>

<div class="main">
  <div class="main-overlay">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="container-fluid">
  © 2018 Pavel Pontus
  <span>pavel_pontus@tut.by</span>
</footer>
