<?xml version="1.0"?>

<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to non-www" stopProcessing="true">
          <match url="(.*)" negate="false"></match>          
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.bonn-ceramic\.by$" negate="true"></add>
          </conditions>
          <action type="Redirect" url="http://bonn-ceramic.by/{R:1}"></action>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
